<head>
    <title>EKG History</title>
</head>

<body>
    <h1>EKG History</h1> 
    {{> ekg_history}}
</body>

<template name="ekg_history">
    <h2>{{count}}</h2>

    {{> add_patient_form}}

    <input type="button" class="remove_patient" value="Remove Patient"/>
    <input type="button" class="next_state" value="Random Change"/>

    {{#each detail}}
    <li class="patient_reading {{selected_class}}">{{patient_id}}: {{reading}}</li>
    {{/each}}

</template>

<template name="add_patient_form">
   <form>
      <input type="text" name="patient_name"/>
      <input type="submit" value="Add Patient"/>
    </form>
</template>
